<app-auth-template>
  <h2 class="text-[5.5vh] text-white text-center z-10">LOCKERS</h2>
  <form class="flex flex-col w-[100%] py-[15px] items-center sm:gap-[15px] z-10" [formGroup]="formularioSign" (ngSubmit)="submitForm()">

    <mat-form-field class="w-full input-container-loginform">
      <mat-label for="username" class="form-label">Username</mat-label>
      <input matInput type="text" id="username" formControlName="username">
      <mat-error *ngIf="hasErrors('username', 'required')">Required field</mat-error>
      <mat-error *ngIf="hasErrors('username', 'minlength')">user minimum 5 characters</mat-error>
    </mat-form-field>

    <mat-form-field class="w-full input-container-loginform">
      <mat-label for="email" class="form-label">Email</mat-label>
      <input matInput type="text" id="email" formControlName="email">
      <mat-error *ngIf="hasErrors('email', 'email')">Enter a valid email address</mat-error>
      <mat-error *ngIf="hasErrors('email', 'required')">Required field</mat-error>
    </mat-form-field>

    <mat-form-field class="w-full input-container-loginform">
      <mat-label for="password" class="form-label">Password</mat-label>
      <input matInput type="password" id="password" formControlName="password">
      <mat-error *ngIf="hasErrors('password', 'required')">Required field</mat-error>
      <mat-error *ngIf="hasErrors('password', 'minlength')">password minimum 8 characters</mat-error>
      <mat-error *ngIf="hasErrors('password', 'pattern')">spaces are not allowed</mat-error>
    </mat-form-field>

    <button class="w-[50%] bg-sky-700 p-[10px] rounded-lg text-[2.2vh] text-white">Registrar</button>
</form>

<div class="w-full grid grid-cols-2 z-10">
  <p class="text-white text-[1.7vh] text-center	hover:cursor-pointer w-fit justify-self-center" [routerLink]="['/login']" routerLinkActive="router-link-active">Ya cuentas con alguna cuenta?</p>
  <p class="text-white text-[1.7vh] text-center	hover:cursor-pointer w-fit justify-self-center">Ingresa como invitado</p>
</div>
<div class="w-full grid grid-cols-2 h-auto z-10">
  <fa-icon [icon]="faFacebook" class="w-fit text-[7vh] justify-self-center text-white	hover:cursor-pointer" ></fa-icon>
  <fa-icon [icon]="faGoogle" class="w-fit text-[7vh] justify-self-center text-white	hover:cursor-pointer" ></fa-icon>
</div>

<app-auth-template/>

