
<!-- <button (click)="mostrarReducer()" > ver reducer</button> -->

<main #mainElement [ngClass]="{'modal-open': showModal()}">
  <section (click)="openModal('module')">
    <h2 class="text-[49px] font-normal">+New</h2>

  </section>
  <ng-container *ngIf="modules">
    <section *ngFor="let module of modules" [routerLink]="['/', module?.id]" routerLinkActive="router-link-active">
        <fa-icon [icon]="faCircleXmark" (click)="openModal('module', module.id, null, true)" (click)="$event.stopPropagation()" class="text-[22px] z-50 absolute top-[5px] right-[10px] rounded-[50%] hover:bg-yellow-100 aspect-square	" />
      <h2 class="text-[20px] font-[580]">{{module?.title}}</h2>
      <h3>Mod</h3>

    </section>
  </ng-container>

  <ng-container *ngIf="lists">
    <section *ngFor="let list of lists" (click)="openModal('list', list?.id)">
      <fa-icon [icon]="faCircleXmark" (click)="openModal('list', list.id, null, true)" (click)="$event.stopPropagation()" class="text-[22px] z-50 absolute top-[5px] right-[10px] rounded-[50%] hover:bg-yellow-100 aspect-square	" />
      <h2 class="text-[20px] font-[580]">{{list?.title}}</h2>
      <h3>Li</h3>
    </section>
  </ng-container>

  <ng-container *ngIf="lockers">
    <section *ngFor="let locker of lockers" (click)="openModal('locker', locker.id )">
      <fa-icon [icon]="faCircleXmark" (click)="openModal('locker', locker.id, null, true )" (click)="$event.stopPropagation()" class="text-[22px] z-50 absolute top-[5px] right-[10px] rounded-[50%] hover:bg-yellow-100 aspect-square	" />
      <h2 class="text-[20px] font-[580]">{{locker?.title}}</h2>
      <h3>Lo</h3>
    </section>
  </ng-container>
</main>

<div (click)="closeModal('module')" *ngIf="showModal()" class="modal-container">
  <div (click)="$event.stopPropagation()" class="modal-content max-w-[400px]">
    <fa-icon [icon]="faCircleXmark" (click)="closeModal('module')" class="top-[5px] right-[5px] text-[25px]"/>
    <form [formGroup]="formularioModule" (ngSubmit)="createNewEntity()" class="flex flex-col gap-[15px] items-center">
      <div class="flex flex-col w-full">
        <label for="type">Type</label>
        <select name="" id="type" formControlName="type" class="rounded-[5px]"> class="top-[10px] right-[10px] tex"
          <option value="module">Module</option>
          <option value="list">List</option>
          <option value="locker">Locker</option>
        </select>
        <mat-error class="text-red-700" *ngIf="hasErrors('type', 'required')">
          Select a type
        </mat-error>
      </div>
        <div class="flex flex-col w-full" >
          <label for="title">Title</label>
          <input id="title" type="text" formControlName="title" class="rounded-[5px]">
          <mat-error class="text-red-700" *ngIf="hasErrors('title', 'required')">
            Title is required
          </mat-error>
          <mat-error class="text-red-700" *ngIf="hasErrors('title', 'maxlength')">
            title length must be less than 25             </mat-error>
        </div>
        <div *ngIf="showDescriptionDiv()" class="flex flex-col w-full">
          <label for="description" class="rounded-[5px]">Description (optional)</label>
          <textarea id="description" type="text" formControlName="description"></textarea>
          <mat-error class="text-red-700" *ngIf="hasErrors('description', 'maxlength')">
            title length must be less than 100
          </mat-error>

        </div>

        <button>create</button>
    </form>
  </div>
</div>

<div (click)="closeModal('list')" *ngIf="showModalList()" class="modal-container">
  <div (click)="$event.stopPropagation()" class="modal-content max-w-[600px] max-h-[80vh] min-h-[50vh] overflow-auto">
    <fa-icon [icon]="faCircleXmark" (click)="closeModal('list')" class="top-[5px] right-[5px] text-[25px]"/>
    <div class="flex flex-col p-[10px] rounded-[7px] title">
      <h4 *ngIf="listToShow?.title" class="text-[30px] text-blue-50">{{ listToShow?.title}}</h4>
      <h5 *ngIf="listToShow?.description" class="text-[20px] text-blue-50">{{ listToShow?.description}}</h5>
    </div>
    <div class="flex flex-col gap-[10px] py-[10px]">
      <div class="w-[100%] px-[10px] py-[5px] rounded-[5px] cursor-pointer hover:scale-[1.05] duration-[.5s] segments" (click)="openModal('task')">
        +New
        </div>
          <form class="flex gap-[5px]" *ngIf="showInputListTask()" [formGroup]="formularioListCheck" (ngSubmit)="createNewTask('list')">
            <div class="w-[74%]">
              <input formControlName="title" autofocus type="text" class="px-[10px] py-[5px] rounded-[5px] w-[100%]">
              <mat-error class="text-red-700" *ngIf="hasErrorsTasksCheck('title', 'required')">
                Title is required
              </mat-error>
              <mat-error class="text-red-700" *ngIf="hasErrorsTasksCheck('title', 'maxlength')">
                title length must be less than 25             </mat-error>
            </div>
            <button class="w-[13%] rounded-[5px] cursor-pointer hover:scale-[1.1] duration-[.5s] flex justify-center items-center max-h-[34px] segments" >
              <fa-icon [icon]="faCheck" class="text-[20px]" />
            </button>
            <div class="w-[13%] rounded-[5px] cursor-pointer hover:scale-[1.1] duration-[.5s] flex justify-center items-center max-h-[34px] segments" (click)="showInputListTask.set(false) ">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
            </div>
          </form>
      <ng-container *ngIf="listToShow && listToShow?.listTasks" >
        <div class="flex gap-[5px]" *ngFor="let task of listToShow.listTasks">
          <label class="w-[87%] px-[10px] py-[5px] rounded-[5px] cursor-pointer hover:scale-[1.05] duration-[.5s] flex justify-between segments" >
            {{ task.title}}
            <input type="checkbox" class="w-[25px]" (change)="updateStatus($event, task.id)" [checked]="task.status == 'done'">
          </label>
          <div class="w-[13%] rounded-[5px] cursor-pointer hover:scale-[1.1] duration-[.5s] flex justify-center items-center segments" (click)="openModal('list-task', task.id, null, true) ">
            <fa-icon [icon]="faTrashCan" class="text-[20px]" />
            </div>
            </div>
      </ng-container>
      <ng-container *ngIf="listToShow && listToShow?.lockerTasks" >
        <div class="flex gap-[5px]" *ngFor="let task of listToShow.lockerTasks">
          <div class="w-[100%] px-[10px] py-[5px] rounded-[5px] cursor-pointer hover:scale-[1.05] duration-[.5s] segments"  (click)="openModal('showTask', null, task)">
            {{ task.title}}
          </div>
          <div class="w-[13%] rounded-[5px] cursor-pointer hover:scale-[1.1] duration-[.5s] flex justify-center items-center	 segments" (click)="openModal('locker-task', task.id, null, true)">
            <fa-icon [icon]="faTrashCan" class="text-[20px]" />
          </div>
        </div>
      </ng-container>
    </div>


  </div>
</div>

<div (click)="closeModal('task')" *ngIf="showModalListTask()" class="modal-container">
  <div (click)="$event.stopPropagation()" class="modal-content max-w-[400px]">
    <fa-icon [icon]="faCircleXmark" (click)="closeModal('task')" class="top-[5px] right-[5px] text-[25px]"/>
    <form [formGroup]="formularioListTask " (ngSubmit)="createNewTask('locker')" class="flex flex-col gap-[15px] items-center">
          <div class="flex flex-col w-full" >
          <label for="title">Title</label>
          <input id="title" type="text" formControlName="title" class="rounded-[5px]">
          <mat-error class="text-red-700" *ngIf="hasErrorsTasks('title', 'required')">
            Title is required
          </mat-error>
          <mat-error class="text-red-700" *ngIf="hasErrorsTasks('title', 'maxlength')">
            title length must be less than 25             </mat-error>
        </div>
        <div class="flex flex-col w-full">
          <label for="description" class="rounded-[5px]">Description</label>
          <textarea id="description" type="text" formControlName="description"></textarea>
          <mat-error class="text-red-700" *ngIf="hasErrorsTasks('description', 'required')">
            Description is required
          </mat-error>
          <mat-error class="text-red-700" *ngIf="hasErrorsTasks('description', 'maxlength')">
            title length must be less than 100
          </mat-error>

        </div>

        <button>create</button>
    </form>

  </div>
</div>

<div (click)="closeModal('showTask')" *ngIf="showTask()" class="modal-container">
  <div (click)="$event.stopPropagation()" class="modal-content max-w-[400px] flex gap-[10px] flex-col">
    <fa-icon [icon]="faCircleXmark" (click)="closeModal('showTask')" class="top-[5px] right-[5px] text-[25px]"/>
      <h4 class="text-[30px] p-[10px] bg-red-400 rounded-[10px]">{{ taskToShow?.title}}</h4>
      <h5 *ngIf="!isUrl(taskToShow?.description)" class="text-[20px] p-[5px] bg-red-200 rounded-[5px]">{{ taskToShow?.description}}</h5>
      <a *ngIf="isUrl(taskToShow?.description)" [href]="taskToShow.description" target="_blank" class="text-[20px] p-[5px] bg-red-200 rounded-[5px]">
        {{ taskToShow?.description}}
      </a>
  </div>
</div>

<div (click)="closeModal('delete')" *ngIf="showDelete()" class="modal-container">
  <div (click)="$event.stopPropagation()" class="modal-content max-w-[400px] flex flex-col gap-[10px]">
    <fa-icon [icon]="faCircleXmark" (click)="closeModal('delete')" class="top-[5px] right-[5px] text-[25px]"/>
      <h2 class="justify-self-center text-center text-nowrap text-[20px] font-[580]">Are you sure you wanna delete it?</h2>
      <div class="flex justify-center gap-[8px]">
        <button class="border-2 border-cyan-600" (click)="deleteEntity()">Yes</button>
        <button class="bg-red-400 text-white" (click)="closeModal('delete')">Cancel</button>
      </div>
  </div>
</div>
