
<!-- <button (click)="mostrarReducer()" > ver reducer</button> -->

<main #mainElement [ngClass]="{'modal-open': showModal()}">
  <section (click)="openModal()">
    <h2 class="newS">+New</h2>

  </section>

  <ng-container *ngIf="user?.user?.modules?.length >= 1">
    <section *ngFor="let module of user.user.modules">
      <fa-icon [icon]="faEllipsisV"/>
      <h2>{{module?.title}}</h2>
      <h3>Mo</h3>
    </section>
  </ng-container>

  <ng-container *ngIf="user?.user?.lists?.length >= 1">
    <section *ngFor="let list of user.user.lists">
      <fa-icon [icon]="faEllipsisV"/>
      <h2>{{list?.title}}</h2>
      <h3>Li</h3>
    </section>
  </ng-container>

  <ng-container *ngIf="user?.user?.lockers?.length >= 1">
    <section *ngFor="let locker of user.user.lockers">
      <fa-icon [icon]="faEllipsisV"/>
      <h2>{{locker?.title}}</h2>
      <h3>Lo</h3>
    </section>
  </ng-container>

  <div (click)="closeModal()" *ngIf="showModal()" class="modal-container">
    <div (click)="$event.stopPropagation()" class="modal-content">
      <form [formGroup]="formularioModule" (ngSubmit)="createNewEntity()" class="flex flex-col gap-[15px] items-center">
        <div class="flex flex-col w-full">
          <label for="type">Type</label>
          <select name="" id="type" formControlName="type" class="rounded-[5px]">
            <option value="module">Module</option>
            <option value="list">List</option>
            <option value="locker">Locker</option>
          </select>
          <mat-error class="text-red-700" *ngIf="hasErrors('type', 'required')">
            Select a type
          </mat-error>
        </div>
          <div class="flex flex-col w-full" >
            <label for="title">Title</label>
            <input id="title" type="text" formControlName="title" class="rounded-[5px]">
            <mat-error class="text-red-700" *ngIf="hasErrors('title', 'required')">
              Title is required
            </mat-error>
            <mat-error class="text-red-700" *ngIf="hasErrors('title', 'maxlength')">
              title length must be less than 25             </mat-error>
          </div>
          <div *ngIf="showDescriptionDiv()" class="flex flex-col w-full">
            <label for="description" class="rounded-[5px]">Description</label>
            <textarea id="description" type="text" formControlName="description"></textarea>
            <mat-error class="text-red-700" *ngIf="hasErrors('description', 'required')">
              Description is required
            </mat-error>
            <mat-error class="text-red-700" *ngIf="hasErrors('description', 'maxlength')">
              title length must be less than 100
            </mat-error>

          </div>

          <button>create</button>
      </form>
    </div>
  </div>
</main>

